/* src/App.css */
@import "tailwindcss";

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fdfdfd;
  margin: 0;
  padding: 0;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  background-color: white;
  transition: transform 0.2s ease;
}

.product-card:hover {
  transform: scale(1.03);
}

.favorite-heart {
  cursor: pointer;
  color: #ccc;
}

.favorite-heart.liked {
  color: red;
}